/* Header Image */

header img {
    display: block;
    width: 28%;
    max-width: 32rem;
    min-width: 16rem;
    margin: 1.5rem auto 1rem;
}

/* Nav Section */

a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    transition: background-color 0.4s ease;
}

a:hover {
    background-color: darkblue;
    border-color: black;
}

a:active {
    color: white;
    transition: background-color 0.4s ease;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #0B2545;     /* deep navy */
}

nav .icon {
    width: 6.25rem;
}

nav .nav-links {
    width: auto;
}

nav .nav-links span {
    color: white;
    margin: 0 .2rem;
}

nav .nav-links a {
    color:yellow;
}

nav .phone-number {
    color: red;
}

/* Paragraph */

body {
        /* slightly lighter / subtle */
    background-color: #edf4fa;

    /* medium light blue */
    background-color: #dbe8f3;

    /* more noticeable blue */
    background-color: #c8dced;
}

section p {
    text-align: center;
    line-height: 2;
}